<%- include('header');  -%>

<div class="box" id="heading">
    <h1> <%= LIST %> </h1>
</div>

<div class="box">
    <% NEWTODOS.forEach(NEWTODO => { %>
    <form action="/delete" method='post'>
        
        <div class="item">
            <input type="checkbox" onChange="this.form.submit()" name="checkbox" value=<%=NEWTODO._id%>>
            <p> <%= NEWTODO.name %> </p>
        </div>
        <input type="hidden" name="listName" value=<%= LIST %>>
</form>
<% }); %>

    <form class="item" action="/" method="POST">
        <input type="text" placeholder="New Item" name="newTodo">
        <button type="submit" name="addBtn" value=<%= LIST %>>+</button>
    </form>

</div>

<%- include('footer');  -%>